@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;700&display=swap');@import url('https://fonts.googleapis.com/css2?family=Jim+Nightshade&display=swap');

body {
    background-color: #0F2546;
    height: 100vh;
    margin: 0;
    position: relative;
}

body.page1 {
    overflow: hidden;
}



/* background to 50% opacity*/
body.page1::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("Images/map.webp");
    background-position: center;
    background-size: cover;
    opacity: 0.5;
    z-index: -1;
}

body.page2::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("Images/map.webp");
    background-position: center;
    background-size: cover;
    opacity: 0.5;
    z-index: -1;
}

body.page3::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("Images/wanwan.jpg");
    background-position: center;
    background-size: cover;
    opacity: 0.5;
    z-index: -1;
}

/*start of headings*/
header {
    background-color: #081425;
    opacity: 80%;
    padding: 0px 5px;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Mulish";
    height: 8vh;
    border-bottom: 3px solid #fff;
    position: relative;
    z-index: 2;
}

.logo {
    margin-right: 4vw;
}

.nav-links {
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center; 
}

.nav-links ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-right: 30vw;
}

.nav-links ul li a {
    color: #fff;
    font-size: 1vw;
    text-decoration: none;
    display: block;
    padding: 10px 15px;
}

.mulish-nav {
    font-family: "Mulish", sans-serif;
}


@font-face {
    font-family: "ja-med";
    src: url("https://cdn.jsdelivr.net/gh/codetheworld-io/static-files/ja-med.otf");
}


/* Hamburger menu styling */
.hamburger-menu {
    display: none; /* Default: hidden */
}

@media (max-width: 768px) {
    /* Hide navigation links on mobile */
    .nav-links {
        display: none;
    }

    /* Show hamburger menu on mobile */
    .hamburger-menu {
        font-family: "Mulish";
        display: block;
        position: absolute;
        top: 1vh;
        right: 20px;
        cursor: pointer;
    }

    /* Sidebar styling */
    .sidebar {
        height: 100vh;
        width: 0; /*hide sidebar before clicking*/
        position: fixed;
        top: 0;
        right: 0; /* Sidebar appears from the right */
        background-color: #121212 ;
        overflow-x: hidden;
        transition: 0.5s; /* Smooth slide effect */
        padding-top: 8vh;
        border-radius: 10px;
    }

    /* Close button inside the sidebar */
    .closebtn {
        font-size: 2vw;
        cursor: pointer;    
        background-color: #121212;
        color: #fff;
        padding: 10px;
        border: none;
        position: absolute;
        top: 10px;
        right: 20px;
        border-radius: 10px;
        font-weight: bold;
    }

    .openbtn {
        font-size: 20px;
        cursor: pointer;
        background-color: rgba(8, 20, 37, 0.7);
        color: #fff;
        padding: 10px 15px;
        border: none;
        border-radius: 10px;
        visibility: visible;
        align-items: center;
    }

    /* Sidebar links */
    .sidebar a {
        padding: 8px 20px;
        text-decoration: none;
        font-size: 2vw;
        color: #fff;
        display: block;
        transition: 0.3s;
    }

    .sidebar a:hover {
        font-size: 2.5vw;
        background-color: #444;
        border-radius: 8px;
    }

    .openbtn:hover {
        background-color: #444;
    }

    .closebtn:hover {
        background-color: #444;
    }

}

/*darken page when sidebar is out*/
.overlay {
    position: fixed;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); 
    z-index: 1;
    display: none; /* Hidden by default */
}




/*heading end*/

.title {
    background-color: rgba(8, 20, 39, 0.7);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 12vh;
    border: 2px solid #fff;
    font-family: "Jim Nightshade"; 
    border-radius: 10px;
    margin: auto;
    margin-top: 3vh;
    padding-top: 1%;
}

.page1 .title {
    width: 45%;
}

.page2 .title {
    width: 30%;
}

.page3 .title {
    width: 28%;
}

.title h1 {
    font-size: 5vw;
    font-weight: 100;
    margin: 0;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.8);
}


/*page1*/

.center {
    height: 100%;
    display: flex;
    justify-content: center;
    margin-top: 5vh;
}

.container {
    position: relative;
    width: 80%;
    height: 60%;
    display: grid;
    font-family: "ja-med",sans-serif;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 10px;
    transition: all 400ms;
}

.container a {
    display: block;
    text-decoration: none; /*removes link underline*/
}


.box {
    position: relative;
    background: var(--img) center center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: all 400ms;
    display: flex;
    justify-content: center;
    border: 1px solid #fff;
    border-radius: 5px;
    height: 100%;
}



.container:hover .box {
    filter: grayscale(90%) opacity(100%);
}

.container .box:hover {
    filter: grayscale(0%) opacity(100%);
}

/*enlarge pic when hovered while others shrink*/
.container {
    --layout-1: 3fr 1fr 1fr 1fr 1fr;
    --layout-2: 1fr 3fr 1fr 1fr 1fr;
    --layout-3: 1fr 1fr 3fr 1fr 1fr;
    --layout-4: 1fr 1fr 1fr 3fr 1fr;
    --layout-5: 1fr 1fr 1fr 1fr 3fr;

    &:has(.image1:hover) {
        grid-template-columns: var(--layout-1);
    }

    &:has(.image2:hover) {
        grid-template-columns: var(--layout-2);
    }

    &:has(.image3:hover) {
        grid-template-columns: var(--layout-3);
    }

    &:has(.image4:hover) {
        grid-template-columns: var(--layout-4);
    }

    &:has(.image5:hover) {
        grid-template-columns: var(--layout-5);
    }
}

/*make odd pic up while even pic down*/
.box {
    &:nth-child(odd) {
        transform: translateY(-16px);
    }

    &:nth-child(even) {
        transform: translateY(16px);
    }
}

/*text style*/
.box::after{
    content:attr(data-text);
    position: absolute;
    font-size: 1.5vw;
    color: #fff;
    background: rgba(0, 0, 0, 70%);
    bottom: 20px;
    padding: 10px 10px 10px 14px;
    letter-spacing: 4px;
    transition: all 400ms;
    transform: translateY(60px);
    opacity: 0;
}

/*appearing text when hover*/
.box:hover::after {
    transform: translateY(0);
    opacity: 1;
    transition-delay: 200ms;
}


/*page2*/

.tier-list {
    margin: 3vh auto; /*margin top and bot 30px while centralise the table*/
    width: 70vw;
    background-color: rgba(26, 26, 23, 0.8);
    border: 3px solid #000;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    height: 64.5vh;
}

/* Tier Row Styling */
.s-tier, .aPlus-tier, .a-tier, .b-tier, .c-tier {
    display: flex;
    border-bottom: 2px solid #000; /*line separation*/
}

.c-tier {
    border: none; /*remove bottom border*/
}

/* Tier Label Styling */
.tier-label {
    width: 8vw;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    font-family: 'Mulish';
    font-weight: bold;
    color: #252525;
  }

/* Colors for Each Tier Label */
.s-tier .tier-label {
    background-color: #FF7F80;
}

.aPlus-tier .tier-label {
    background-color: #FFA07A;
}

.a-tier .tier-label {
    background-color: #FFDF80;
}

.b-tier .tier-label {
    background-color: #FFFF7F;
}

.c-tier .tier-label {
    background-color: #BFFF7F;
}

/* Hero Icons Container */
.hero-icons {
    display: flex;
    flex-flow: row wrap;
}

/* Individual Hero Icon Styling */
.hero-icons img {
    width: 100px;
    height: 100px;
    border-radius: 50%; /*rounded border*/
    border: 2px solid transparent; /*prevent images moving around*/
    transition: transform 0.3s, border-color 0.3s;
}

.hero-icons img:hover {
    transform: scale(1.1); /* Slight zoom effect */
    border: 2px solid white;
}

/*page3*/
.back-button {
    position: absolute; /* Positions the button relative to the parent container */
    top: 8.5vh; /* Positions it below the header */
    margin: 5vh 3vw;
    font-family: "Mulish";
    font-size: 1vw; /* Small font size */
    background-color: rgba(8, 20, 37, 0.8);
    border: 2px solid #fff; /* Border for the button */
    border-radius: 5px; /* Rounded corners */
    padding: 1vh 1vw; /* Adds padding inside the button */
}

.back-button a {
    text-decoration: none; /* Removes underline */
    color: #fff; /* Text color */
}

@media (max-width: 768px) /*prevent button from getting too small when in vertical/mobile mode*/
{
    .back-button{
        font-size: 2vw;
    }
}

/* Container for the vertical boxes */
.skill-box-container {
    display: flex;
    gap: 20px; /* Space between each skill box */
    margin: 0 auto; /* Center the container horizontally */
    flex-direction: row;
    margin-top: 5vh;
    flex-wrap: wrap;
    justify-content: center;
    overflow-y: auto;
    height: 68vh;
}

/* Individual skill box */
.skill-box {
    display: flex;
    flex-direction: column;
    align-items: center; /* Align image and text vertically */
    background-color: rgba(15, 37, 70, 0.8); /* Box background color */
    padding: 20px;
    border: 2px solid #fff; /* Optional border */
    border-radius: 10px; /* Rounded corners */
    gap: 15px; /* Space between image and text */
    width: 260px;
    height: fit-content;
}

/* Skill description */
.skill-description h3 {
    font-size: 1.2rem;
    text-align: center;
    font-family: "Mulish";
    color: #fff;
    margin: 0 0 5px;
}

.skill-description p {
    font-size: 1rem;
    text-align: justify;
    font-family: "Mulish";
    color: #ccc;
    margin: 0;
}
